@if (Request.IsAuthenticated)
{
    <text> 
        <h5>Zalogowano jako: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new {@class = "username", title = "Manage"})!</h5>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-alert">
                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            </button>
        }
    </text>
}
else
{
    <ul id="loginItems" class="list-group">
        <li class="list-group-item">@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="list-group-item">@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}