@{
    ViewBag.Title = "Melina Manager";
}
@section featured {
    <section class="featured">
        <div  class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p id="TEST">
                Witaj w systemie zarządzania akademikowym sprzedawcą: teraz już nigdy nie zostaniesz bez towaru. Będziesz wiedział ile zarabiasz, kiedy skończą się zapasy i kto musi Ci oddać pieniądze!
            </p>
        </div>
    </section>
    
}

<p> CONTENT</p>
