@{
    ViewBag.Title = "Melina Manager - kokpit";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Kokpit
            </p>
        </div>
    </section>

}

<p> Kopit</p>
